@font-face {
    font-family: gaming;
    src:url(./assets/fonts/Baseball\ Club\ Solid.otf)
}

@import "tailwindcss";



body{
    font-family: gaming;
}

.card{
    background: radial-gradient(rgb(144, 143, 143), rgb(53, 5, 53));
}

.card1{
    clip-path: polygon(0 56%, 0 12%, 15% 0%, 39% 0, 50% 10%, 90% 9%, 100% 18%, 100% 100%, 85% 100%, 27% 100%, 14% 88%, 14% 68%);
}

.card2{
    clip-path: polygon(0 91%, 0 22%, 14% 0, 36% 0, 48% 12%, 72% 12%, 85% 0, 100% 0, 100% 76%, 38% 76%, 29% 91%);

}