@import "tailwindcss";

/* body{
    background-image: url(https://i.pinimg.com/1200x/0f/c4/fb/0fc4fbc7f0c1d2a3e3288683ba7b1ddb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */